{
    "pools":
    [
        {
            "name": "pool.gold",
            "url": "stratum+tcp://eu.pool.gold:3044",
            "user": "GWNQpV6m66eBP51xmMwo7UXkHytWj8p1Ye.<%= @hostname %>",
            "pass": "z",
            "priority": "1",
            "profile": "zcash"
        },
        {
            "name": "btg.altpool.pro",
            "url":"stratum+tcp://eu.btgpool.pro:3857",
            "user": "GWNQpV6m66eBP51xmMwo7UXkHytWj8p1Ye.<%= @hostname %>",
            "pass": "z",
            "priority": "0",
            "profile": "zcash"
        }
    ],
    "profiles":
    [
        {
            "name": "zcash",
            "algorithm": "equihash",
            "worksize": "256",
            "gpu-threads": "2",
            "temp-target": "65",
            "temp-overheat": "80"
        }
    ],
    "default-profile": "zcash",
    "no-extranonce": true,
    "gpu-platform": "-1"
}