[Unit]
Description=SGMiner-gm service
After=network.target

[Service]
<% @env_vars.each do |env_var| -%>
Environment=<%= env_var %>
<% end -%>
ExecStart=/usr/bin/screen -dmS sgminer-gm /opt/sgminer-gm/sgminer -c /opt/sgminer-gm/<%= @coin %>.conf
ExecStop=/usr/bin/screen -S sgminer-gm -X quit
ExecReload=/usr/bin/screen -S sgminer-gm -X quit
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target