{
    "pools":
    [
        {
            "name": "eu.zclmine.pro",
            "url": "stratum+tcp://eu.zclmine.pro:9009",
            "user": "t1LpVH7yQsvzpramwtV3GPS6awGHWvuBSS9.<%= @hostname %>",
            "pass": "#",
            "priority": "1",
            "profile": "zcash"
        }
    ],
    "profiles":
    [
        {
            "name": "zcash",
            "algorithm": "equihash",
            "worksize": "256",
            "gpu-threads": "2",
            "temp-target": "65",
            "temp-overheat": "70"
        }
    ],
    "gpu-fan": "60-90",
    "auto-fan": true,
    "default-profile": "zcash",
    "no-extranonce": true,
    "gpu-platform": "-1"
}